[Unit]
Description=Ethernet bridge table
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'ebtables-restore < /etc/ebtables.conf'
ExecReload=/bin/bash -c 'ebtables-restore < /etc/ebtables.conf'
ExecStop=/bin/bash -c 'ebtables-restore < /dev/null'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
